{% extends 'layout.html' %}

{% block main_content %}

{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{t_b_data.0.Background_image.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>{{t_b_data.0.Title}}</h1>
                            <span class="subheading">{{t_b_data.0.Sub_title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h4><blod>{{ m_c_data.0.Name }}</blod></h4>
                        <p> {{ m_c_data.0.Main_content}} </p>
                        <img src="{{ m_c_data.0.Image.url }}" style="width: 200px;">
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
