{% extends 'layout.html' %}

{% block main_content %}

{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{all_data.0.Background_Image.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> {{all_data.0.Title}} </h1>
                            <span class="subheading">{{all_data.0.Sub_title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- page header end-->

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                       {% for blogg in blog %}
                        <a href="post.html">
                            <h2 class="post-title">{{blogg.Blog_title}}</h2>
                            <h3 class="post-subtitle">{{blogg.Sub_title}}</h3>
                        </a>
                        {% endfor %}
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}