{% extends 'layout.html' %}

{% block main_content %}

{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{index_all.0.Background_Image.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> I am h1 tag </h1>
                            <span class="subheading">I am sub heading</span>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{{index_all.0.Social_Icon.url}}">
        </header>
        <!-- page header end-->

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">i am post title</h2>
                            <h3 class="post-subtitle">i am post subtitle</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}